form.filter {
 margin-left: auto;
}

form.filter input[type=text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
  }
  
  form.filter button {
    float: left;
    width: 5%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.filter button:hover {
    background: #0b7dda;
  }
  
  form.filter::after {
    content: "";
    clear: both;
    display: table;
  }